.md-typeset 
{
    font-size: .9rem;
}
.md-typeset hr 
{
    border-bottom: .10rem solid var(--md-default-fg-color--lightest);
}
.md-typeset h1, .md-typeset h2, .md-typeset h3
{
    font-weight: 600;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
    letter-spacing: 0;
}
/* 修改所有代码字体大小 */
.md-typeset code {
    font-size: .65rem;
}
/* (覆盖)修改行内代码字体大小 */
.md-typeset code:not(pre code) 
{
    font-size: inherit;
}
/* 修改代码块行间距 */
.md-typeset pre 
{
    line-height: 1.8;
}
/* 修改分割线的宽度 */
.md-typeset hr {
    border-bottom: .10rem solid var(--md-default-fg-color--lightest);
}
